@(routeForm: Form[Route], airlines: List[Airline], airports: List[Airport])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(common.twitterBootstrapInput.render) }

@main("EasyFly") {
    @common.errorForm(routeForm)
    @form(routes.RouteController.save()) {
    <div class="row-fluid">
        <div class="span6">
            <h2>Add a new Route</h2>
                @inputText(routeForm("route_id"), '_label -> "Route ID") 
                @common.airportList("airpt_id_from", "Source Airport", airports, routeForm)
                @common.airportList("airpt_id_to", "Destination Airport", airports, routeForm)
                @inputText(routeForm("dep_time"), '_label -> "Departure Time (24 hour format)")
                @inputText(routeForm("arr_time"), '_label -> "Arrival Time (24 hour format)") 
                <div class="clearfix">
                    <label for="airln_id">Airline</label>
                    <div class="input">
                        <select name="airln_id">
                            @for(airline <- airlines) {
                                <option value=@airline.airln_id>@airline.airln_name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="clearfix">
                    <label for="day_no">Day</label>
                    <div class="input">
                        <select name="day_no">
                            <option value="1">Monday</option>
                            <option value="2">Tuesday</option>
                            <option value="3">Wednesday</option>
                            <option value="4">Thursday</option>
                            <option value="5">Friday</option>
                            <option value="6">Saturday</option>
                            <option value="7">Sunday</option>
                        </select>
                    </div>
                </div>
        </div>
        <div class="span6">
            <h2>Route Segment Details</h2>
            <div class="clearfix">
                <label for="segment.airpt_id_from">Source Airport</label>
                <div class="input">
                    <input type="text" name="segment.airpt_id_from" id="segment.airpt_id_from" disabled="disabled">
                </div>
            </div>
            <div class="clearfix">
                <label for="segment.airpt_id_to">Destination Airport</label>
                <div class="input">
                    <input type="text" name="segment.airpt_id_to" id="segment.airpt_id_to" disabled="disabled">
                </div>
            </div>
            <div class="clearfix">
                <label for="segment.dep_time">Departure Time</label>
                <div class="input">
                    <input type="text" name="segment.dep_time" id="segment.dep_time" disabled="disabled">
                </div>
            </div>
            <div class="clearfix">
                <label for="segment.arr_time">Arrival Time</label>
                <div class="input">
                    <input type="text" name="segment.arr_time" id="segment.arr_time" disabled="disabled">
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a href=@routes.RouteController.index() class="btn">Cancel</a>
    </div>
    }
}