@(id: String, label: String, airports: List[Airport], form: Form[_ <: Object])

<div class="clearfix">
    <label for=@id>@label</label>
    <div class="input">
        <select name=@id id=@id>
            @for(airport <- airports) {
                @if(airport.airpt_id == form(id).value()) {
                    <option value=@airport.airpt_id selected>@airport.airpt_name</option>
                } else {
                    <option value=@airport.airpt_id>@airport.airpt_name</option>
                }
            }
        </select>
    </div>
</div>