@(customers: List[Customer])

@main("EasyFly") {
    @common.error()
    <div id="search">
        <div class="span6">@common.search()</div>
        <div class="span6"><a href=@routes.CustomerController.create() class="btn btn-primary pull-right">New Customer</a></div>
    </div>
    <table class="table table-striped index-table" id="data-table">
        <thead></thead>
        <tbody>
        <th>Customer ID</th><th>Surname</th><th>Credit</th>
        <th>Address1</th><th>Address2</th><th>Address3</th>
        <th>Initial</th><th>Title</th><th>Phone</th>
        @for(cust <- customers) {
            <tr>
                <td>@cust.cust_id</td>
                <td>@cust.cust_surname</td>
                <td>@cust.cust_credlim</td>
                <td>@cust.cust_addr1</td>
                <td>@cust.cust_addr2</td>
                <td>@cust.cust_addr3</td>
                <td>@cust.cust_inits</td>
                <td>@cust.cust_title</td>
                <td>@cust.cust_phone</td>
            </tr>
        }
        </tbody>
    </table>
}
